In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('calculate_test.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   longitude                       1000 non-null   float64
 1   latitude                        1000 non-null   float64
 2   aqi                             1000 non-null   int64
 3   carbon_monoxide_co              1000 non-null   float64
 4   nitrogen_monoxide_no            1000 non-null   float64
 5   nitrogen_dioxide_no2            1000 non-null   float64
 6   ozone_o3                        1000 non-null   float64
 7   sulphur_dioxide_so2             1000 non-null   float64
 8   fine_particles_matter_pm2_5     1000 non-null   float64
 9   coarse_particulate_matter_pm10  1000 non-null   float64
 10  ammonia_nh3                     1000 non-null   float64
 11  recorded_time                   1000 non-null   object
dtypes: float64(10), int64(1), object(1)
memory usage: 93.9+ KB

In [6]:
df['recorded_time'] = pd.to_datetime(df['recorded_time'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   longitude                       1000 non-null   float64
 1   latitude                        1000 non-null   float64
 2   aqi                             1000 non-null   int64
 3   carbon_monoxide_co              1000 non-null   float64
 4   nitrogen_monoxide_no            1000 non-null   float64
 5   nitrogen_dioxide_no2            1000 non-null   float64
 6   ozone_o3                        1000 non-null   float64
 7   sulphur_dioxide_so2             1000 non-null   float64
 8   fine_particles_matter_pm2_5     1000 non-null   float64
 9   coarse_particulate_matter_pm10  1000 non-null   float64
 10  ammonia_nh3                     1000 non-null   float64
 11  recorded_time                   1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(10), int64(1)
memory usage: 93.9 KB

In [9]:
df.head()

,longitude,latitude,aqi,carbon_monoxide_co,nitrogen_monoxide_no,nitrogen_dioxide_no2,ozone_o3,sulphur_dioxide_so2,fine_particles_matter_pm2_5,coarse_particulate_matter_pm10,ammonia_nh3,recorded_time
0,8.0227,50.8750,1,192.0,0.10,4.50,50.12,0.91,0.97,1.26,0.39,2022-11-04 12:00:00
1,8.2146,53.1390,1,200.0,0.70,7.11,47.13,1.18,5.31,6.00,1.52,2022-11-04 10:00:00
2,10.6847,53.8664,2,200.0,0.22,6.08,60.75,1.32,2.88,4.05,0.92,2022-11-03 13:00:00
3,10.6847,53.8664,1,200.0,0.05,6.50,55.75,1.19,2.83,3.97,1.19,2022-11-03 15:00:00
4,10.6847,53.8664,1,200.0,0.03,10.59,36.38,1.89,1.73,2.94,1.36,2022-11-04 15:00:00

In [16]:
def get_SO2_subindex(x):
    if x < 20:
        return 1
    elif x < 80:
        return 2
    elif x < 250:
        return 3
    elif x < 350:
        return 4
    else:
        return 5

In [43]:
def get_NO2_subindex(x):
    if x <= 20:
        return 1
    elif x <= 40:
        return 2
    elif x <= 100:
        return 3
    elif x <= 200:
        return 4
    else:
        return 5

In [40]:
def get_PM10_subindex(x):
    if x <= 20:
        return 1
    elif x <= 35:
        return 2
    elif x <= 50:
        return 3
    elif x <= 100:
        return 4
    else:
        return 5

In [41]:
def get_PM2_5_subindex(x):
    if x <= 10:
        return 1
    elif x <= 20:
        return 2
    elif x <= 25:
        return 3
    elif x <= 50:
        return 4
    else:
        return 5

In [42]:
def get_O3_subindex(x):
    if x <= 60:
        return 1
    elif x <= 120:
        return 2
    elif x <= 180:
        return 3
    elif x <= 240:
        return 4
    else:
        return 5

In [21]:
def get_CO_subindex(x):
    if x < 4400:
        return 1
    elif x < 9400:
        return 2
    elif x < 12400:
        return 3
    elif x < 15400:
        return 4
    else:
        return 5

In [38]:
df['latitude'] = df['latitude'].astype(str)
df['longitude'] = df['longitude'].astype(str)
df['StationId'] = df['latitude'] + " & " + df['longitude']

In [39]:
df["PM10_24hr_avg"] = df.groupby("StationId")["coarse_particulate_matter_pm10"].rolling(window = 24).mean().values
df["PM2.5_24hr_avg"] = df.groupby("StationId")["fine_particles_matter_pm2_5"].rolling(window = 24).mean().values

In [44]:
df["NO2_SubIndex"] = df["nitrogen_dioxide_no2"].apply(lambda x: get_NO2_subindex(x))

In [45]:
df["PM10_SubIndex"] = df["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))

In [46]:
df["PM2_5_SubIndex"] = df["PM2.5_24hr_avg"].apply(lambda x: get_PM2_5_subindex(x))

In [47]:
df["PMO3_SubIndex"] = df["ozone_o3"].apply(lambda x: get_O3_subindex(x))

In [48]:
df.head()

,longitude,latitude,aqi,carbon_monoxide_co,nitrogen_monoxide_no,nitrogen_dioxide_no2,ozone_o3,sulphur_dioxide_so2,fine_particles_matter_pm2_5,coarse_particulate_matter_pm10,...,NO2_SubIndex,PM10_SubIndex,PM2_5_SubIndex,PMO3_SubIndex,PMCO_SubIndex,AQI_calculated,check,StationId,PM10_24hr_avg,PM2.5_24hr_avg
0,8.0227,50.875,1,192.0,0.10,4.50,50.12,0.91,0.97,1.26,...,1,5,5,1,1,1,0,50.875 & 8.0227,NaN,NaN
1,8.2146,53.139,1,200.0,0.70,7.11,47.13,1.18,5.31,6.00,...,1,5,5,1,1,1,0,53.139 & 8.2146,NaN,NaN
2,10.6847,53.8664,2,200.0,0.22,6.08,60.75,1.32,2.88,4.05,...,1,5,5,2,1,2,0,53.8664 & 10.6847,NaN,NaN
3,10.6847,53.8664,1,200.0,0.05,6.50,55.75,1.19,2.83,3.97,...,1,5,5,1,1,1,0,53.8664 & 10.6847,NaN,NaN
4,10.6847,53.8664,1,200.0,0.03,10.59,36.38,1.89,1.73,2.94,...,1,5,5,1,1,1,0,53.8664 & 10.6847,NaN,NaN

In [49]:
df["AQI_calculated"] = df[["NO2_SubIndex",
                           "PM10_SubIndex",
                           "PM2_5_SubIndex",
                           "PMO3_SubIndex"]].max(axis = 1)

In [50]:
df["check"] = df["aqi"]-df["AQI_calculated"]

In [51]:
df.head()

,longitude,latitude,aqi,carbon_monoxide_co,nitrogen_monoxide_no,nitrogen_dioxide_no2,ozone_o3,sulphur_dioxide_so2,fine_particles_matter_pm2_5,coarse_particulate_matter_pm10,...,NO2_SubIndex,PM10_SubIndex,PM2_5_SubIndex,PMO3_SubIndex,PMCO_SubIndex,AQI_calculated,check,StationId,PM10_24hr_avg,PM2.5_24hr_avg
0,8.0227,50.875,1,192.0,0.10,4.50,50.12,0.91,0.97,1.26,...,1,5,5,1,1,5,-4,50.875 & 8.0227,NaN,NaN
1,8.2146,53.139,1,200.0,0.70,7.11,47.13,1.18,5.31,6.00,...,1,5,5,1,1,5,-4,53.139 & 8.2146,NaN,NaN
2,10.6847,53.8664,2,200.0,0.22,6.08,60.75,1.32,2.88,4.05,...,1,5,5,2,1,5,-3,53.8664 & 10.6847,NaN,NaN
3,10.6847,53.8664,1,200.0,0.05,6.50,55.75,1.19,2.83,3.97,...,1,5,5,1,1,5,-4,53.8664 & 10.6847,NaN,NaN
4,10.6847,53.8664,1,200.0,0.03,10.59,36.38,1.89,1.73,2.94,...,1,5,5,1,1,5,-4,53.8664 & 10.6847,NaN,NaN

In [33]:
df["check"].unique()

array([ 0,  1, -1], dtype=int64)

In [34]:
df1 = df[df["check"] == 1]

In [35]:
df1

,longitude,latitude,aqi,carbon_monoxide_co,nitrogen_monoxide_no,nitrogen_dioxide_no2,ozone_o3,sulphur_dioxide_so2,fine_particles_matter_pm2_5,coarse_particulate_matter_pm10,ammonia_nh3,recorded_time,SO2_SubIndex,NO2_SubIndex,PM10_SubIndex,PM2_5_SubIndex,PMO3_SubIndex,PMCO_SubIndex,AQI_calculated,check
87,6.9600,50.9384,3,674.25,46.94,41.13,0.01,21.46,20.42,26.06,11.15,2021-12-21 08:00:00,2,2,2,2,1,1,2,1
90,7.2200,51.5380,4,674.25,40.68,47.98,5.72,15.02,30.56,38.14,37.49,2022-03-03 08:00:00,1,2,2,3,1,1,3,1
91,7.2200,51.5380,4,674.25,54.54,43.18,8.58,9.54,29.76,37.24,6.40,2021-03-02 09:00:00,1,2,2,3,1,1,3,1
92,7.2200,51.5380,4,674.25,38.45,64.43,6.80,17.64,25.72,32.98,1.63,2021-01-10 12:00:00,1,2,2,3,1,1,3,1
93,9.1800,48.7784,3,674.25,109.08,14.39,0.25,7.09,24.15,29.01,2.31,2022-09-29 08:00:00,1,1,2,2,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,6.7763,51.2254,5,1415.25,164.51,94.59,0.08,81.06,66.52,75.69,24.32,2022-12-16 09:00:00,3,3,3,4,1,1,4,1
252,6.8829,51.4273,5,1415.25,166.30,82.94,0.00,73.43,66.75,81.93,12.03,2022-01-18 23:00:00,2,3,3,4,1,1,4,1
253,6.9292,51.5216,5,1415.25,169.87,67.17,0.00,30.99,63.04,77.12,5.95,2022-01-10 20:00:00,2,2,3,4,1,1,4,1
254,6.9881,51.0325,5,1415.25,211.00,42.50,0.00,57.70,70.20,79.58,10.89,2021-12-17 08:00:00,2,2,3,4,1,1,4,1
255,7.0158,51.4582,5,1415.25,169.87,95.96,0.35,66.76,61.88,81.66,11.91,2022-12-16 15:00:00,2,3,3,4,1,1,4,1